.header {
  display: flex;
  justify-content: space-between;
}
.header-first {
  display: flex;
  padding: 15px 15px;
}
.header-p {
  color: #323264;
  font-size: 20px;
}
.header-second {
  padding: 15px 15px;
}

* {
  font-family: Montserrat;
  font-weight: 400;
}

.legal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0;
}
.legal-h {
  font-size: 30px;
  font-weight: 700;
  padding-right: 100px;
  background: var(--Gradient-Red-Text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.legal-p {
  color: #000;
  font-family: Montserrat;
  font-size: 19px;
  line-height: 30px;
}

.icons {
  display: flex;
  flex-direction: column;
  gap: 40px;
  border-left: 2px solid #ccc;
}
.icons-part {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 34px;
  gap: 10px;
}
.icons-part-figure {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 6px;
}
.icons-part-number {
  margin: 0 0;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  background: var(--Gradient-Red-Text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.icons-part-p {
  margin: 0 0;
  color: var(--Main-Regular);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.hero {
  margin-top: 30px;
  background: url(../../imgs/Team.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: auto;
}
.hero-h {
  color: var(--Basic-White);
  text-align: center;
  text-shadow: 0px 15px 30px rgba(40, 40, 86, 0.8);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 13px;
  text-transform: uppercase;
}

.Quality {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 60px;
}
.Quality-p {
  color: #000;
  font-size: 19px;
  line-height: 30px;
}
.Quality-h {
  padding-right: 50px;
  font-size: 30px;
  font-weight: 700;
  background: var(--Gradient-Red-Text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.slid {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  background: #F5F5FA;
}
.slid-h {
  color: var(--Main-Regular);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.slider {
  width: 100%;
  overflow: hidden;
  padding: 30px 60px;
}

.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}
.slides-img {
  width: 53px;
}

.slide {
  width: 115px;
  height: 40px;
  border: 2px solid #ffffff;
  border-radius: 30px;
  margin: 0 auto;
  padding: 10px;
  background: white;
}
.slide img {
  width: 115px;
  height: 40px;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .legal-all, .icons-all, .Quality {
    padding-left: 30px;
    padding-right: 30px;
  }
  .slide {
    flex: 0 0 200px;
    margin-left: 14px;
  }
}
@media screen and (min-width: 769px) {
  .header-first, .header-second {
    padding: 30px;
  }
  .legal-all, .icons-all, .Quality {
    padding-left: 60px;
    padding-right: 60px;
  }
  .hero {
    height: 233px;
  }
  .hero-h {
    padding-top: 74px;
  }
  .slides {
    gap: 40px;
    justify-content: center;
  }
  .slide {
    flex: 0 0 132px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
  }
}
@media screen and (min-width: 1024px) {
  .header-first, .header-second {
    padding: 30px;
  }
  .deks-li {
    display: flex;
    gap: 30px;
  }
  .legal-all {
    padding-right: 0;
    width: 486px;
  }
  .icons-all {
    padding-left: 0;
  }
  .hero {
    height: 312px;
  }
  .Quality {
    flex-direction: row;
    gap: 60px;
  }
  .Quality-p {
    width: 482px;
  }
}
@media screen and (min-width: 1440px) {
  .legal-all {
    width: 662px;
    padding-left: 180px;
  }
  .icons-all {
    padding-right: 180px;
  }
  .hero {
    height: 438px;
  }
  .hero-h {
    padding-top: 163px;
  }
  .Quality {
    padding-left: 180px;
    padding-right: 180px;
  }
  .Quality-p {
    width: 658px;
  }
}
@media screen and (min-width: 1920px) {
  .header-first, .header-second {
    padding: 160px;
  }
  .legal-all {
    width: 942px;
    padding-left: 280px;
  }
  .icons-all {
    padding-right: 280px;
  }
  .slide {
    flex: 0 0 300px;
  }
  .Quality {
    padding-left: 280px;
    padding-right: 280px;
  }
  .Quality-h {
    width: 362px;
  }
  .hero {
    height: 584px;
  }
  .hero-h {
    padding-top: 236px;
  }
}
:root {
  --Gradient-Red-Text: linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%);
  --Main-Regular: #323264;
  --Basic-White: #FFF;
}

/*# sourceMappingURL=general.css.map */
